{% extends "currency/base.html" %}
{% load bootstrap5 %}
{% block content %}
<div class="d-flex">
    <div class="d-flex flex-column">
        <div class="card m-2">
            <div class="card-header">
            Фильтры
            </div>
            <div class="card-body">
                <form method="get" enctype="multipart/form-data">
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-success">Фильтр</button>
                    <a href="{% url 'changes_chain3reverse' %}" class="btn btn-danger">Сбросить</a>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>

    <div class="card m-2 flex-fill">
        <div class="card-header d-flex justify-content-between">
            Спреды 3х обратные (Рубли)
            <span class="badge bg-primary">Обновлено: {{ time }}</span>
        </div>
        <div class="card-body">
            <table class="table table-hover table-striped border">
                <tr align="middle">
                    <th></th>
                    <th colspan="6">Туда</th>
                    <th colspan="6">Обратно</th>
                    <th>Профит</th>
                </tr>
                <tr align="middle">
                    <th>#</th>
                    <th colspan="5">Сделка</th>
                    <th>Профит</th>
                    <th colspan="5">Сделка</th>
                    <th>Профит</th>
                    <th></th>
                </tr>
                {% for chain in chain3reverse %}
                <tr style="font-weight: bold;" align="middle">
                    <td>{{ forloop.counter }}</td>
                    {% include 'currency/macro/chain3.html' with chain=chain.forward_chain %}
                    {% include 'currency/macro/chain3.html' with chain=chain.backward_chain %}
                    <td class="align-middle"><span class="badge {% if chain.profit_percentage > 0 %}bg-success{% else %}bg-danger{% endif %}">{{ chain.profit_percentage }}%</span></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}