{% extends "currency/base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        О проекте
    </div>
    <div class="card-body">
        <div style="max-width: 800px;">
            <p>
                Добро пожаловать в CoinDripper, лучший инструмент для криптовалютных трейдеров, желающих получить
                прибыль от P2P сделок!
            </p>
            <p>
                CoinDripper — это сервис, который автоматически отслеживает P2P-сделки в различных криптовалютах
                и способах оплаты и отображает наиболее прибыльные цепочки сделок в режиме реального времени.
            </p>
            <p>
                Для использования сервиса необходима <a href="{% url 'register' %}">регистрация</a>, так что скорее
                регистрируйтесь, пока она бесплатна.
            </p>
            <p>
                На данный момент проект находится в активной стадии разработки, новый функционал будет добавляться
                регулярно. Небольшой TODO лист:
            </p>
            <ul>
                <li>Фильтры сделок и цепочек</li>
                <li>Продвинутые цепочки сделок</li>
                <li>Больше фиатных валют (Пишите в обратную связь нужно ли это вообще)</li>
                <li>Продвинутая техподдержка</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}