{% extends "currency/base.html" %}
{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        Рубли
        <span class="badge bg-primary">Последнее обновление: {{ time }}</span>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>Актив</th>
                <th colspan="2">Раффайзен</th>
                <th colspan="2">Тинькофф</th>
                <th colspan="2">Юmoney</th>
                <th colspan="2">QIWI</th>
            </tr>
            <tr>
                <th></th>
                <th>Покупка</th>
                <th>Продажа</th>
                <th>Покупка</th>
                <th>Продажа</th>
                <th>Покупка</th>
                <th>Продажа</th>
                <th>Покупка</th>
                <th>Продажа</th>
            </tr>
            {% for a in assets %}
            <tr>
                <td>{{ a }}</td>
                <td>
                    {% for deal in deals_RaiffeisenBank_rub_buy %}
                    {% if deal.pair.asset == a %}
                    {{ deal.price }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for deal in deals_RaiffeisenBank_rub_sell %}
                    {% if deal.pair.asset == a %}
                    {{ deal.price }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for deal in deals_TinkoffNew_rub_buy %}
                    {% if deal.pair.asset == a %}
                    {{ deal.price }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for deal in deals_TinkoffNew_rub_sell %}
                    {% if deal.pair.asset == a %}
                    {{ deal.price }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for deal in deals_YandexMoneyNew_rub_buy %}
                    {% if deal.pair.asset == a %}
                    {{ deal.price }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for deal in deals_YandexMoneyNew_rub_sell %}
                    {% if deal.pair.asset == a %}
                    {{ deal.price }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for deal in deals_QIWI_rub_buy %}
                    {% if deal.pair.asset == a %}
                    {{ deal.price }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for deal in deals_QIWI_rub_sell %}
                    {% if deal.pair.asset == a %}
                    {{ deal.price }}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}