{% extends "currency/base.html" %}
{% load bootstrap5 %}
{% block content %}
<div class="card">
    <div class="card-header">
        Смена пароля
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" class="container d-flex flex-column justify-content-center">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-success">Изменить</button>
            {% endbuttons %}
        </form>

    </div>

</div>
{% endblock %}