{% extends "currency/base.html" %}
{% load bootstrap5 %}
{% block content %}
<div class="card">
    <div class="card-header">
        Восстановление пароля
    </div>
    <div class="card-body">
        <p style="max-width: 400px">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
        <form method="post" enctype="multipart/form-data" class="container d-flex flex-column justify-content-center">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-success">Восстановить</button>
            {% endbuttons %}
        </form>

    </div>

</div>
{% endblock %}